{% extends "base.twig" %}
{% set entidade = getQueryParam("entidade") %}
{% set tipo_controle = getQueryParam("tipo_controle") %}
{% set desfazer_contas = getQueryParam("desfazer") %}

{% block estilos_adicionais %}
	<link rel="stylesheet" href="{{baseTema}}/controle_financeiro/baixa_controle_financeiro.css?v={{ date().timestamp }}">
{% endblock %}

{% block main %}
<div class="container">
	<div class="card">
		{% if tipo_controle != -1 %}
			{% if checkError(cliente) == false %}
				{% if checkError(formas_pagto) == false %}
					<div class="card-header">{{titulo_app}}</div>
					<div class="card-body">
					<div class="row">
						<div class="col col-md-7 re">
							<div class="text-muted row"> 
								<div class="col col-md-12 input-group" style="margin-top: .6rem; margin-left: 1rem;"> 
									<input class="form-control" type="text" id="inp_cliente" placeholder="Cliente" value="{{ cliente[0].NOME }}">
								</div>
							</div>
						</div>
						<div class="col col-md-4 offset-md-1 re">
							<form class="filtrar-contas">
								<div class="float-sm-right top-1">
									<div class="col col-md-12">
										<div class="row">
											<div class="col col-md-12">
												<label for="data-pk1" class="right-periodo"><strong>Período: </strong></label>
												{% if desfazer_contas == -1 %}
												<div class="custom-control custom-radio campo_filter"> 
													<input checked="checked" type="radio" name="tipo_busca" id="escolha1" role-id="1" class="custom-control-input tipo_escolha">
													<label class="custom-control-label" for="escolha1">Vencimento</label>
												</div>

												<div class="custom-control custom-radio campo_filter"> 
													<input type="radio" name="tipo_busca" id="escolha2" role-id="2" class="custom-control-input tipo_escolha" role-id="2">
													<label class="custom-control-label" for="escolha2">Emissão</label>
												</div>
												{% endif %}
											</div>
										</div>
										<div class="row">
											<div class="col col-md-12">
												
													
													<div class="input-group inputs-periodo">
														
														<input type="text" role-name="data_periodo[]" class="form-control date campo_data" name="campo1" id="data-pk1" data-date-format="dd/mm/yyyy">
														
														<div class="input-group-prepend">
															<span class="input-group-text" id="">à</span>
														</div>

														<input type="text" role-name="data_periodo[]" class="form-control date campo_data" name="campo2" id="data-pk2" data-date-format="dd/mm/yyyy">

													  <div class="input-group-append">
													    <button class="btn btn-outline-secondary btn-buscar-periodo" type="submit">Filtrar</button>
													  </div>
													
													</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					
				  		<div class="row">
				  			<div class="col col-md-12" style="margin-top: -1rem;">
					  			<div class="col col-md-7 remix" style="margin-top: -1rem;">
										<table id="tabela-dados" class="table table-striped hovered" style="width:100%">
										        <thead class="principal">
										            <tr>
										                <th><div class="custom-control custom-checkbox"  style="min-height: 15px;transform: translateY(-4px);"><input type="checkbox" id="selecionar-todos" class="custom-control-input selecionar-todos"> <label class="custom-control-label color" for="selecionar-todos" style="margin-left: 35%;"></label></div></th>

										                <th>Documento</th>
										                <th>Emissão</th>
										                <th>Vencimento</th>
										                <th>Valor</th>
										                <th>Saldo</th>
										                <th></th>
										            </tr>
										        </thead>
										        <tbody>
										        </tbody>
										</table>
										<div class="col col-md-12 div_valores_tb">
											<div class="col col-md-6">
												<strong>Selecionados: <selecteds>0</selecteds> Total: R$ <tselect>0,00</tselect></strong>
											</div>
											<div class="col col-md-6">
												<strong>Registros: <regs>0</regs> Valor Total: R$ <total>0,00</total></strong>
											</div>
											<div class="col col-md-12" style="margin-top: 1rem;margin-bottom: 1rem;">
												<button class="btn btn-secondary btn-gerar-lote" disabled="disabled">Gerar Lote</button>
												<button class="btn btn-secondary btn-desfazer-lote">Desfazer Lote</button>
											</div>
										</div>
					  			</div>
					  			<div class="col col-md-4 pagamento_div">
									<form class="dados_pagamento">
										{% if desfazer_contas == -1 %}
										<div class="col-auto">
										 <label for="pagto">Data do Pagamento</label>
										 <div class="input-group mb-2 date" data-date-format="dd/mm/yyyy">
										   <input class="form-control data-pk campo_data" id="dp3" type="text">
										   <input type="hidden" name="data_pagto">
										 </div>
										</div>
										
										<div class="col-auto">
											 <label for="select-forma">Forma de Pagamento</label>

											  <select class="form-control select-forma" id="select-forma">

											  {% for chaves, dados_pagto in formas_pagto %}
											 	{% set dados_pagto = dados_pagto|cast_to_array %}
											 		{% if chaves|lower != 'contas_correntes'  %}	
											 			{% set e_banco = '' %}
											 			{% if is_int(contain('banco', dados_pagto["NOME"])) == 1 %}
											 				{% set e_banco = 'data-bank=' ~  dados_pagto["NOME"]%}
											 			{% endif %}
											 			<option {{e_banco}} role-option-select="{{ dados_pagto["NOME"] }}" value="{{dados_pagto["ID"]}}">{{ dados_pagto["NOME"] }}</option>
											 		{% endif %}							 		
											 {% endfor %}
											  </select>
										</div>

										<div class="col-auto">
										<label for="select-conta">Conta</label>
											<select class="select-conta form-control" name="conta_pagto" id="select-conta">
											  {% for chaves, dados_conta in formas_pagto[0] %}
											 		{% if chaves|lower == 'contas_correntes'  %}	
											 			{% for dados_conta_p in dados_conta %}
											 				{% set dados_conta_p = dados_conta_p|cast_to_array %}
															{% set exibir_conta_banco = dados_conta_p["NUMERO_CONTA"] ~ '-' ~ dados_conta_p["NOME"] %}
											 				<option role-option-select="{{exibir_conta_banco}}" value="{{dados_conta_p["ID"]}}" id="{{dados_conta_p["ID"]}}">{{exibir_conta_banco}}</option>
											 			{% endfor %}
											 		{% endif %}							 		
											 {% endfor %}
											</select>	
										</div>
									  				
										<div class="col-auto">
											 <label for="doc">Documento</label>
											 <div class="input-group mb-2">
											   <input class="form-control doc" id="doc" name="doc" type="text">
											 </div>
										</div>						
										
										<div class="col-auto">
											<label for="valor_pago">Valor Pago</label>
											 <div class="input-group mb-2">
												<div class="input-group-prepend">
													<div class="input-group-text add-on">R$</div>
												</div>						 	
											   <input class="form-control money_qnt somente-numero not-blur" id="valor_pago" name="valor_pago" type="tel" data-option="{ponto: false, virgula: true, decs: 100, negativo: false, per_cent: false}">
											 </div>

											 <table class="table table-striped formas-pagto">
												<thead>
													<tr>
														<th class="col col-lg-5">Forma</th>
														<th class="col col-lg-6">Valor R$</th>
														<th class="col col-lg-1">&nbsp;</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>

										</div>	

									  	<div class="row col-auto">
											<div class="col col-md-5 pd1">
												 <label for="desc_acres">Desc/Acres</label>
												 <div class="input-group mb-2">
												   <input class="form-control somente-numero per" data-option="{ponto: true, virgula: true, decs: 2, negativo: true, per_cent: true}" id="desc_acres" name="desc_acres" type="text" />
												 </div>
											</div>
											<div class="col pd2">
												<label for="valor_pagar">Valor</label>
												 <div class="input-group mb-2">
													<div class="input-group-prepend">
														<div class="input-group-text add-on">R$</div>
													</div>						 	
												   <input class="form-control" readonly="readonly" id="valor_pagar" name="valor_pagar" type="tel">
												 </div>
											</div>
						  				</div>
						  				{% endif %}
										<div class="col-auto">
											<button type="submit" class="btn btn-success col col-md-12" disabled="disabled">confirmar</button>
                                            {{ ('<p></p>' ~ voltar_tela_anterior) | raw}}
										</div>				

									</form>
					  			</div>
				  			</div>
				  		</div>
				{% else %}
		  		<mask></mask>
				<div id="modal_alerta_erro" data-backdrop="static" data-keyboard="false" class="modal modal-center modal_alerta_erro show erro" tabindex="-1" role="dialog" enterfocus="1" returnpressed="true" style="display: block;"><div class="modal-dialog " role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title"><div class="barra_progresso_alerta"></div> Erro</h5></div><div class="modal-body">Erro ao carregar tabela de formas de pagamento</div><div class="modal-footer no-display "></div></div> </div> </div>
		  		{% endif %}
		  	{% else %}
		  		<mask></mask>
				<div id="modal_alerta_erro" data-backdrop="static" data-keyboard="false" class="modal modal-center modal_alerta_erro show alerta" tabindex="-1" role="dialog" enterfocus="1" returnpressed="true" style="display: block;"><div class="modal-dialog " role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title"><div class="barra_progresso_alerta"></div> Alerta</h5></div><div class="modal-body">Nada Encontrado</div><div class="modal-footer no-display "></div></div> </div> </div>	
		 	{% endif %}
		 {#
	  	{% else  %}

	  		<mask></mask>
			<div id="modal_alerta_erro" data-backdrop="static" data-keyboard="false" class="modal modal-center modal_alerta_erro erro show" tabindex="-1" role="dialog" enterfocus="1" returnpressed="true" style="display: block;"><div class="modal-dialog " role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title"><div class="barra_progresso_alerta"></div> Erro</h5></div><div class="modal-body">É preciso passar o id da entidade na url: {url}/?entidade={id}</div><div class="modal-footer no-display "></div></div> </div> </div>
	  	{% endif %}
	  	#}
	  {% else %}
	  		<mask></mask>
			<div id="modal_alerta_erro" data-backdrop="static" data-keyboard="false" class="modal modal-center modal_alerta_erro erro show" tabindex="-1" role="dialog" enterfocus="1" returnpressed="true" style="display: block;"><div class="modal-dialog " role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title"><div class="barra_progresso_alerta"></div> Erro</h5></div><div class="modal-body">É preciso passar o tipo de controle na url: {url}/?tipo_controle={id}</div><div class="modal-footer no-display "></div></div> </div> </div>
	  {% endif %}
		</div>
	</div>
</div>
{% endblock %}


{% block scripts_adicionais %}
	<script>
		var entidade = {
		    entidadeD: 0,
		    get ID() {
		        return this.entidadeD;
		    },
		    set ID(id) {
		        this.entidadeD = id;
		    }
		}

		entidade.entidadeD = {{entidade}};

		var desfazer = parseInt('{{desfazer_contas}}'); 

		var tipo_controle = parseInt("{{tipo_controle}}"),
		conta_id = "{{cliente[0].CONTA_CORRENTE_ID}}";
		/*if(desfazer != -1) {
			$("."+$form.dados_pagamento).find('button[type="submit"]').prop('disabled',false)
		}*/
	</script>
	<script type="text/javascript" src="{{baseTema}}/controle_financeiro/baixa_controle_financeiro.js?v={{ date().timestamp }}"></script>
{% endblock %}