{% extends "base.twig" %}
{% set tipo_pedido = getQueryParam('tipo_pedido') %}
{% set doc_id = getQueryParam('doc_id') %}
{% if tipo_pedido == -1 %}
	{# 0 -> Saida; 1 -> Entrada; 2 -> Transferência #}
	{% set tipo_pedido = 3 %}
{% endif %}

{% block estilos_adicionais %}
	<link rel="stylesheet" href="{{baseTema}}/produto/pre_venda/pedido_compra_venda/pedido_compra_venda.css?v={{ date().timestamp }}">
	<script type="text/javascript">var formas_pagto_var = '{% autoescape %} {{ formas_pagtos_var|raw }} {% endautoescape %}';</script>
{% endblock %}
{% block main %}
<div class="container-fluid"> <!-- Inicio Container -->

<div class="margin-panel card"> <!-- Inicio Panel Principal -->
	<div class="card-header">{{titulo_app}}</div>
  <div class="card-body"> <!-- Inicio Panel Principal Body -->

	      <div class="row firefox" style="margin-right: -26px;margin-left: -26px;">
	      	<form id="form_nfe" class="form-group col col-md-12 form_nfe"> <!-- Inicio Form -->
				<div class="Inputar">		
					<div class="row">
						<div class="col-md-1 rw">
							<label for="documento">Documento</label>
							<input autocomplete="off" type="text" id="documento" name="documento" maxlength="10" required class="form-control" placeholder="Documento">
						</div>

						<div class="col col-md-2 dt rw">
							<label id="label_saida" for="saida">Saída/Entrada</label>
							<div class="input-group mb-2 date" data-date-format="dd/mm/yyyy">
							   <input autocomplete="off" class="form-control data-pk _saida data_emissao" required id="saida" type="text">
							   <!-- <div class="input-group-text add-on"><i class="fas fa-calendar"></i></div> -->
							 </div>
						 </div>
						<div class="col-md-3 a rw">
							<label for="nome_cliente_destin">Nome do Cliente/Destinatário</label>
							<input autocomplete="off" type="text" id="nome_cliente_destin" required id="nome_cliente" name="nome_cliente"	class="form-control nome_cliente" placeholder="Nome do Cliente/Destinatário">
						</div>

						<div class="col-md-2 is rw">
							<label for="cpf_cnpj">CPF/CNPJ</label>
							<input autocomplete="off" type="text" data-option="{ponto: false, virgula: false, decs: 100, negativo: false, per_cent: false}" id="cpf_cnpj" required id="cpf_cnpj" name="cpf_cnpj"	class="form-control cnpj_cliente somente-numero not-blur" placeholder="CPF/CNPJ">
						</div>	
						<div class="col-md-2 cp rw">
							<label for="cep">CEP</label>
							<input autocomplete="off" class="form-control cep_cliente somente-numero not-blur" maxlength="9"  data-option="{ponto: false, virgula: false, decs: 100, negativo: false, per_cent: false}" placeholder="CEP" id="cep" name="cep">
						</div>

						<div class="col-md-4 rw">
							<label for="endereco">Endereço</label>
							<input autocomplete="off" class="form-control logradouro_cliente" placeholder="Endereço" id="endereco" name="endereco">
						</div>		
						<div class="col-md-1 n rw">
							<label for="numero">N°</label>
							<input autocomplete="off" class="form-control numero_cliente somente-numero not-blur"  data-option="{ponto: false, virgula: false, decs: 100, negativo: false, per_cent: false}" placeholder="N°" id="numero" name="numero" type="tel">
						</div>															 				
					</div>
					
					
					<div class="row">

						<div class="col-md-2 e rw">
							<label for="email">Email</label>
							<input type="email" autocomplete="off" class="form-control email_cliente" placeholder="Email" id="email" name="email">
						</div>
						<div class="col-md-1 rw">
							<label for="tel">Telefone</label>
							<input autocomplete="off" class="form-control telefone_cliente somente-numero not-blur" type="tel"  data-option="{ponto: false, virgula: false, decs: 100, negativo: false, per_cent: false}" placeholder="Telefone" id="tel" name="tel">
						</div>

						<div class="col-md-3 rw">
							<label for="bairro">Bairro</label>
							<input autocomplete="off" class="form-control" placeholder="Bairro" id="bairro" name="bairro">
						</div>
						
						<div class="col-md-3 rw e">
							<label for="cidade">Cidade</label>
							<input autocomplete="off" class="form-control" placeholder="Cidade" id="cidade" name="cidade">
						</div>						
						<div class="col-md-1 u rw">
							<label for="uf">UF</label>
							<input autocomplete="off" class="form-control" placeholder="UF" maxlength="2" id="uf" name="uf">
						</div>

						<div class="col-md-2 s1 rw">
							<label for="forma_pagto">Forma de Pagamento</label>
							<select class="form-control forma_pagto" id="forma_pagto" name="forma_pagto[]">
									{% autoescape %}
									    {{ formas_pagtos_var|raw }}
									{% endautoescape %}
									<option role-option-select="MULTIPLAS FORMAS" value="-1">MULTIPLAS FORMAS</option>
							</select>
							<button class="btn btn-default btn-multiplas-formas" type="button"><i class="fas fa-eye"></i></button>
						</div>	
						<div class="col-md-2 n rw">
							<label>Pago</label><input autocomplete="off" type="tel" readonly="" class="form-control money total_valor_pago not-blur somente-numero" value="0,00">
							
						</div>								
					</div>
				</div>

	      	<div class="row margin-top-1">
	      		<div class="col col-md-12  rw">
			        <table class="table table-bordered tabela_produtos_man">
			         <thead>
				         <tr>
					         <th>ID</th>
					         <th>Descrição do Produto</th>
					         <th>Preço</th>
					         <th>Quantidade</th>
							 <th>Unid</th>
					         <th>Total R$</th>
					         <th><i class="fas fa-th"></i></th>
					         <th>Grade</th>
					         <th>Vendedor</th>
				         </tr>
			         </thead>
			         
			         <tbody class="tbody_t1">
			         
			         </tbody>
			        </table>
	      		</div>
	      	</div>
	      	
	      	<div class="row">
	      	<div class="table-margin table-responsive">
	        <table class="table table-striped tabela-informacoes">
	         <thead class="th_up">
	         <tr style="font-size: 12px;">
	         <th></th>
	         <th></th>
	         <th></th>
	         <th>Acréscimo R$</th>
	         <th>Desconto R$</th>
	         <th>Total Produtos R$</th>
	         <th>Total Pedido R$</th>
	         </tr>
	         </thead>
	         
	         <tbody>
	         
	           <tr>
	         	<td></td>
	         	<td></td>
	         	<td></td>

	             <td>
	              <input autocomplete="off" class="td-right td_input money total_acrescimo" name="total_acrescimo" value="0,00">
	             </td>     

	             <td>
	              <input autocomplete="off" class="td-right td_input money total_desconto" name="total_desconto" value="0,00">
	             </td>   
	             
	             <td>
	              <input autocomplete="off" readonly class="td-right td_input total_produtos" value="0,00">
	             </td>   
	             
	             <td>
	              <input autocomplete="off" readonly class="td-right td_input total_pedido" value="0,00">
	             </td>
	           
	           </tr>
	         
	         </tbody>
	         
	         </table>
	         </div>
	         </div>
	      	
	      	<div class="row float-left">
				<div class="col-md-12" style="padding-left: 5px;">
					<button class="btn btn-success" type="submit" name="salvar">Salvar <div class="icon"></div></button>
					<button class="btn btn-default btn_limpar" type="button" name="limpar">Novo <div class="icon"></div></button>
					<button class="btn btn-warning" type="button" name="imprimir">Imprimir <div class="icon"></div></button>
					{% if doc_id != -1 %}
						<button class="btn btn-warning" type="button" name="remover_pedido">Excluir Pedido <div class="icon"></div></button>
					{% endif %}

                    {{ voltar_tela_anterior | raw}}
				</div>
	      	</div>

			{% if doc_id != -1 %}
				<div class="row float-right">
					<span style="transform: translateX(-13px);">Id: {{ doc_id }}</span>
				</div>
			{% endif %}

	      	</form> <!-- Fim Form -->
	      </div>
	  	</div>
		</div> 

	 </div> <!-- Fim Painel Receber NF-e -->

</div> <!-- Fim Container -->


{% endblock %}

{% block scripts_adicionais %}
	<script>  
		var isFirefox = typeof InstallTrigger !== 'undefined',
		vendedores_var = htmlspecialchars_decode('{{vendedores_var}}'); 
		width_div_table = $("."+$tabelas.tabela_produtos_man).parent().width() - 10,
		width_table = isFirefox ? width_div_table /*1.1395*/ /*1.1232*/ : width_div_table;
		tb_man = $("."+$tabelas.tabela_produtos_man).TabelaMultipla({height_body: 170, width_div_table: width_div_table, width_table: width_table}),
		tipo_pedido = {{tipo_pedido}},
		window.tipo_pedido1 = function(){ return tipo_pedido; }
		var AjustarTBMAN = function() {
		    return tb_man.Ajustar();
		};

        var doc_id = {
            doc_id: undefined,
            set DID($id){
                this.doc_id = $id
            },
            get DID(){
                return this.doc_id;
            }
        };

		{% if doc_id != -1 and doc_id|strlen > 0%}
			doc_id.doc_id = {{doc_id}}

		{% if checkError(dados_pedido) == false %}
			var doc_valores = JSON.parse('{{ dados_pedido|json_encode|raw }}');
			var produtos = doc_valores.PRODUTOS,
				acrescimo_total = 0,
				desconto_total = 0;

			for(var i in produtos) {
				var acrescimo = produtos[i].ACRESCIMO_TOTAL,
					desconto = produtos[i].DESCONTO_TOTAL;

				acrescimo_total += parseFloat(acrescimo);
				desconto_total += parseFloat(desconto);
			}

			doc_valores.CABECALHO.TOTAL_DESCONTO = desconto_total.toFixed(2);
			doc_valores.CABECALHO.TOTAL_ACRESCIMO = acrescimo_total.toFixed(2);

		{% else %}
			$('body').html('');
			Mask();
	    	mostrarMensagemErroSucessoAlerta('Nenhum pedido de compra ou venda encontrado', false, true, undefined, {NuncaFechar: true});

		{% endif %}
		
		{% endif %}
  	</script>
	<script type="text/javascript" src="{{baseTema}}/produto/pre_venda/pedido_compra_venda/pedido_compra_venda.js?v={{ date().timestamp }}"></script>
{% endblock %}