{% set titulo_app = getQueryParam("titulo_app") %}
{% set tela_anterior = getQueryParam("tela_anterior") %}

{% set titulo_app = (titulo_app == -1) ? 'App sem titulo' : titulo_app %}
{% set titulo_app = titulo_app ~ ' - ' ~ nome_schema_atual %}
{#
{% set voltar_tela_anterior = tela_anterior != -1 ? '<button class="btn btn-warning voltar-sc" type="button" href="' ~ tela_anterior ~'">Voltar</button>' : '' %}

{% set chave_api = '775e7@SW5mb1Npc3Rlb3_df2b84' %}
{% set auth = loadModelMethod('auth/auth','getTokenInterno',chave_api) %} #}

{# {% set formas_pagto = loadModelMethod("pagamento/pagamento","getFormasPagamento") %}
{% set formas_pagtos_var = montar_options(formas_pagto, [0], 'ID', ['ID','NOME']) %}
#}
<!Doctype>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="{{baseTema}}/css/style.css?v={{ date().timestamp }}">

    <style type="text/css">
        .chosen-container-single .chosen-single div b {
            background: url('{{baseTema}}/img/chosen-sprite.png') no-repeat 0px 5px;
        }
    </style>
    <title>{{ titulo_app }}</title>
    {% block estilos_adicionais %} {% endblock %}
    {% block title %}{% endblock %}
</head>
<body>
{# <pre>
    {{ var_dump(funcionarios_var | raw) }}
</pre> #}
{% block header %} {% endblock %}
{% block main %} {% endblock %}
{% block footer %} {% endblock %}

<script type="text/javascript">
    var usuario_logado = "{{usuario_logado}}";
</script>

<script>

</script>
<script type="text/javascript" src="{{baseTema}}/js/jquery-3.3.1.min.js?v={{ date().timestamp }}"></script>
<script type="text/javascript" src="{{baseTema}}/js/popper.min.js?v={{ date().timestamp }}"></script>
<script type="text/javascript" src="{{baseTema}}/js/bootstrap.min.js?v={{ date().timestamp }}"></script>
<!--
<script type="text/javascript" src="{{baseTema}}/js/jquery.mask.min.js?v={{ date().timestamp }}"></script>
<script type="text/javascript" src="{{baseTema}}/js/jquery.datepicker.min.js?v={{ date().timestamp }}"></script>
<script type="text/javascript" src="{{baseTema}}/js/jquery.datetimepicker.min.js?v={{ date().timestamp }}"></script>
<script type="text/javascript" src="{{baseTema}}/js/jquery-ui.min.js?v={{ date().timestamp }}"></script>
<script type="text/javascript" src="{{baseTema}}/js/chosen.jquery.min.js?v={{ date().timestamp }}"></script>
<script type="text/javascript" src="{{baseTema}}/js/dataTables.min.js?v={{ date().timestamp }}"></script>
<script type="text/javascript" src="{{baseTema}}/js/select.dataTables.min.js?v={{ date().timestamp }}"></script>
<script type="text/javascript" src="{{baseTema}}/js/TabelaMultipla.js?v={{ date().timestamp }}"></script>
<script type="text/javascript" src="{{baseTema}}/js/configs.js?v={{ date().timestamp }}"></script>
<script type="text/javascript" src="{{baseTema}}/js/parametrizador.min.js?v={{ date().timestamp }}"></script>
<script type="text/javascript" src="{{baseTema}}/js/variaveis_objetos.min.js?v={{ date().timestamp }}"></script>
<script type="text/javascript" src="{{baseTema}}/js/funcoes_genericas.js?v={{ date().timestamp }}"></script>
<script src="{{baseTema}}/testes/gerarTabela.js?v={{ date().timestamp }}"></script>
-->
{% block scripts_adicionais %} {% endblock %}
</body>
</html>